@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
body {
    margin: 0;
    background-color: #0F1E36;
}

.container {
    display: flex;
    justify-content: space-around;
}
#heading1, #heading2{
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    font-size: 40px;
    height: 35.89px;
    width: 149px;
    margin-bottom: 5px;
}
.box1, .box2 {
    width: 155px;
    height: 120px;     
    border-radius: 5px;         
    display: flex;
    justify-content: center;     
    align-items: center;        
    background-color: #080001;
    margin-top:20px;
}

.home, .guest {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 110px;
    color: #F94F6D;     
    padding-top: 20px;      
    
}
.addpoints1, .addpoints2{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    padding: 5px 5px;
    width: 155px;
    height: 45px;
    box-sizing: border-box; 
    
}
.add2-1, .add2-2, .add1-1, .add3-1, .add1-2, .add3-2{
    background-color: #0F1E36;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 6px 10px;
    margin: 0 3px;            
    
    font-size: 18px;
    border-radius: 4px;

    display: flex;
    justify-content: center; 
    align-items: center;
}
.flash {
    background-color: #1E9B24 !important; /* GREEN flash */
}
.new{
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
}
#New-Game, #Winner{
    border: solid 2px red;
    color: red;
    background-color: pink;
}

